/* Main page================================================= */
/* Variables */
:root {
  --header-nav-color: #293449;
  --main-text-color: #ffffff;
  --checkout-color: #63A63E;
  --important-info-color: #EE3643;
  --caption-color: #32425C;
  --black-regular: #000000;
  --header-background: #F3F7F9;
  --materials-background: #FFBF47;
  --tools-background: #3BBCE3;
  --tech-background: #DC91D8;
  --discounts-bakground: #8ED78F;
  --delivery-background: #FFC047;
  --pop-title-background: #F9F5F0;
  --pop-item-border: #EAEAEA;
  --old-price: #A9A9A9;
  --features-background: #F1F5F7;
  --footer-bot: #293449;
  --contacts-footer: #F3F7F9;
  --footer-features: #FFDA96;
  --catalog-container-title: #F2F6F8;
  --filter-background: #F7F3EC;
  --pagination-border: #E5E5E5;
}

/* Global */
body {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

h2 {
  font-weight: normal;
}

.visually-hidden {
  visibility: hidden;
}

a {
  text-decoration: none;
}

.button {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--important-info-color);
  color: var(--main-text-color);
}

ul {
  list-style: none;
}

/* Logo */

/* Header */
.page-header {
  background: var(--header-background);
}

.page-header-top {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--header-nav-color);
}

.page-header-search {
  background-color: var(--header-nav-color);
  color: var(--main-text-color);
}

.bookmarks-link,
.cart-link {
  color: var(--main-text-color);
}

.checkout-link {
  color: var(--main-text-color);
  background-color: var(--checkout-color);
}

.description-text {
  font-family: Cuprum, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--important-info-color);
}

.header-phone {
  border: 3px solid var(--main-text-color);
}

.header-phone h4 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--important-info-color);
}

.header-address-caption {
  font-size: 14px;
  line-height: 24px;
  color: var(--caption-color);
}

.user-nav a {
  font-size: 21px;
}

.login-link {
  background: var(--main-text-color);
}

.user-nav .login-link {
  color: var(--black-regular);
}

.reg-link {
  background-color: var(--main-text-color);
  color: var(--black-regular);
}

/* Site navigation */
.site-nav {
  background-color: var(--header-nav-color);
  color: var(--header-nav-color);
}

.nav-item .nav-link,
.nav-item--current .nav-link {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 24px;
}

/* Container */
.container {
  color: var(--main-text-color);
}

.container h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.service-link {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--main-text-color);
  opacity: 0.3;
  text-transform: uppercase;
}

.service-materials {
  background-color: var(--materials-background);
}

.service-tools {
  background-color: var(--tools-background);
}

.service-techs {
  background-color: var(--tech-background);
}

.service-gallery {
  background: url(../img/layer_99.png) no-repeat;
}

.catalog-text {
  font-size: 18px;
  line-height: 24px;
  color: var(--main-text-color);
}

.service-discounts {
  background-color: var(--discounts-bakground);
}

.service-delivery {
  background-color: var(--delivery-background);
}

/* Pop-products */
.pop-products div {
  background-color: var(--pop-title-background);
  text-transform: uppercase;
}

.pop-products-title {
  font-size: 30px;
  color: var(--caption-color);

}

.pop-item {
  background-color: var(--main-text-color);
  border: 1px solid var(--pop-item-border)
}

.pop-item-link {
  color: var(--black-regular);
}

.pop-name {
  font-family: PT Sans, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.buy-item,
.old-price {
  font-family: PT Sans, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  color: var(--old-price);
  text-decoration-line: line-through;
}

.buy-item {
  background: url(../img/buy_button.svg) no-repeat;
}





/* Pop-producers */
.pop-producers-title {
  background-color: var(--pop-title-background);
  text-transform: uppercase;
}

.pop-producers-title h2 {
  font-size: 30px;
  color: var(--caption-color);
}

.producer-item {
  background: var(--main-text-color);
  border: 1px solid var(--pop-item-border);
}

/* Features */
.features {
  background: var(--features-background);
  color: var(--black-regular);
}

.features-title {
  font-size: 30px;
  text-transform: uppercase;
}

.features-text {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.feature-delivery {
  background: var(--main-text-color);
}

.feature-item {
  background: var(--caption-color);
}

.feature-link {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--main-text-color);
}

.feature-link-delivery {
  color: var(--caption-color);
}

.delivery-title {
  font-size: 30px;
  color: var(--caption-color);
  text-transform: uppercase;
}

.delivery-text {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* About company */
.about-company {
  color: var(--black-regular);
}

.company-title {
  font-size: 30px;
  text-transform: uppercase;
}

.about-company-text {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.transportation-companies-list .company-item {
  font-size: 18px;
  line-height: 24px;
}

.modal-map {
  color: var(--black-regular);
}

.map-title {
  font-size: 30px;
}

.map-text {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* Footer */
.footer {
  font-size: 18px;
  line-height: 24px;
  background: var(--caption-color);
}

.footer-contacts {
  color: var(--contacts-footer);
}

.nav-footer,
.footer-features-list {
  color: var(--caption-color);
}

.nav-footer-link {
  color: var(--features-background);
}

.footer-feature-link {
  color: var(--footer-features);
}

.footer-bot {
  font-size: 16px;
  line-height: 18px;
  color: var(--main-text-color);
  background: var(--footer-bot);
}

.footer-email-link,
.academy-link {
  color: var(--footer-features);
}

/* Catalog page ================================================ */
/* Header */
.cart-added {
  background: var(--important-info-color);
}

.user-nav-logged {
  background: var(--main-text-color);
}

.name-link {
  font-size: 21px;
  color: var(--black-regular);
}

.orders-link,
.account-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--caption-color);
}

/* Container */
.breadcrumbs-list {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs-list a {
  color: var(--black-regular);
}

.catalog-container-title {
  font-size: 30px;
  background: var(--catalog-container-title);
  color: var(--caption-color);
  text-transform: uppercase;
}

.filter {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: var(--filter-background);
  color: var(--black-regular);
  text-transform: uppercase;
}

.item-categories {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: var(--filter-background);
  color: var(--black-regular);
  text-transform: uppercase;
}

.category-list {
  color: var(--important-info-color);
}

.catalog-products-list .product-item {
  font-family: PT Sans, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid var(--pop-item-border);
}

.product-name {
  color: var(--black-regular);
}

.add-cart {
  background: url(../img/add_cart_back.svg) no-repeat;
  color: var(--main-text-color);
}

.add-bookmark {
  background: url(../img/add_book_back.svg) no-repeat;
  color: var(--caption-color);
}

.pagination-list {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.pagination-item--current {
  background: var(--important-info-color);
  color: var(--main-text-color);
}

.pagination-item {
  border: 1px solid var(--pagination-border);
}

.pagination-link {
  color: var(--black-regular);
}

.about-product {
  background: var(--features-background);
  color: var(--black-regular);
}

.about-product-title {
  font-size: 30px;
  text-transform: uppercase;
}

.about-product-text {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
