/* Main page================================================= */
/* Variables */
:root {
  --header-nav-color: #293449;
  --main-text-color: #ffffff;
  --checkout-color: #63A63E;
  --important-info-color: #EE3643;
  --caption-color: #32425C;
  --black-regular: #000000;
  --header-background: #F3F7F9;
  --materials-background: #FFBF47;
  --tools-background: #3BBCE3;
  --tech-background: #DC91D8;
  --discounts-bakground: #8ED78F;
  --delivery-background: #FFC047;
  --pop-title-background: #F9F5F0;
  --pop-item-border: #EAEAEA;
  --old-price: #A9A9A9;
  --features-background: #F1F5F7;
  --footer-bot: #293449;
  --contacts-footer: #F3F7F9;
  --footer-features: #FFDA96;
  --catalog-container-title: #F2F6F8;
  --filter-background: #F7F3EC;
  --pagination-border: #E5E5E5;
  --services-text-background: rgba(255, 255, 255, 0.3);
  --services-text: rgba(255, 255, 255, 1);
  --header-top-background-focus: rgba(22, 29, 41, 1);
  --item-shadow: rgba(0, 0, 0, 0.15);
}

/* Global */
body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  line-height: 1;
}

h2 {
  font-weight: normal;
}

.visually-hidden {
  visibility: hidden;
  display: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text-color);
  background-image: url(../img/button_back.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 192px;
  height: 38px;
  border: none;
}

.button-link:hover {
  background-image: url(../img/button_back_hover.png);
}

.button-link:active {
  background-image: url(../img/button_back_active.png);
}

ul {
  list-style: none;
}

/* Grid*/
.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
  max-width: 100%;
}

.page-header {
  justify-self: center;
}

.container {
  justify-self: center;
}

.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  margin: 0 auto;
}

.service-card {
  display: grid;
  grid-template-columns: 160px 140px;
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;
}

.service-link {
  grid-column: 1/1;
  grid-row: 2/2;
}

.materials-icon {
  grid-column: 2;
  grid-row: 2/2;
}

.materials-new {
  grid-column: 2;
  grid-row: 1;
}

.tools-icon {
  grid-column: 2/-1;
  grid-row: 1/-1;
}

.techs-icon {
  grid-column: 2/-1;
  grid-row: 1/-1;
}

.service-gallery {
  grid-column: 1/-2;
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: flex-start;
}

.gallery-button-back {
  grid-column: 1;
  grid-row: 1/-1;
}

.gallery-button-next {
  grid-column: -1;
  grid-row: 1/-1;
}

.catalog-text {
  grid-column: 2;
  grid-row: 2;
}

.catalog-button {
  text-transform: uppercase;
  text-align: center;
  grid-column: 2;
  grid-row: 4/4;
  align-self: center;
}

.discounts-icon {
  grid-column: 2/-1;
  grid-row: 1/-1;
}

.service-delivery {
  align-self: flex-end;
}

.delivery-icon {
  grid-column: 2/-1;
  grid-row: 1/-1;
}

.catalog-container {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo */
.logo {
  margin-right: 0px;
  padding-top: 12px;
  padding-bottom: 17px;
  padding-right: 55px;
  padding-left: 57px;
}

/* Header */
.header-logo {
  background-image: url(../img/head_logo_layer.svg);
  background-repeat: no-repeat;
  width: 220px;
  height: 47px;
}

.page-header {
  background-image: url(../img/header_mid_back.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 1200px;
  min-height: 320px;
}

.page-header-top {
  background-image: url(../img/header_top_back.png);
  background-repeat: no-repeat;
  background-size: 1200px 42px;
}

.page-header-top a {
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 19px;
  padding-left: 16px;
  margin: 0px;
}

.page-header-top a:focus {
  background-color: var(--header-top-background-focus);
}

.header-top-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
  width: 940px;
  height: 42px;
}

.page-header-search {
  align-self: flex-start;
  position: relative;
  background-color: var(--header-nav-color);
  width: 271px;
  height: 42px;
  color: var(--main-text-color);
  border: none;
  padding: 0px;
}

.bookmarks-link,
.cart-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--main-text-color);
  background-color: var(--header-nav-color);
  min-width: 112px;
}

.search-top {
  position: relative;
  max-width: 271px;
}

.search-top::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 10px;
  width: 17px;
  height: 17px;
  background-image: url(../img/search_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 8px;
  width: 14px;
  height: 16px;
  background-image: url(../img/book_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 9px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.search-top:hover::before,
.cart-link:hover::before,
.bookmarks-link:hover::before {
  opacity: 1;
}

.bookmarks-link:active,
.bookmarks-link:active::before {
  opacity: 0.3;
}

.checkout-link {
  color: var(--main-text-color);
  background-color: var(--checkout-color);
  align-self: flex-start;
}

.checkout-link p {
  margin: 0px;
}

.header-mid-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 940px;
  max-height: 156px;
}

.description-text {
  font-family: Cuprum, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--important-info-color);
  padding-left: 31px;
  margin-top: 37.5px;
  margin-bottom: 44.5px;
}

.header-contacts {
  margin-top: 41px;
}

.header-phone {
  border: 3px solid var(--main-text-color);
  width: 270px;
  height: 45px;
  text-align: center;
}

.phone-number {
  position: relative;
}

.phone-number::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 30px;
  width: 17px;
  height: 20px;
  background-image: url(../img/phone_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-phone h4 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--important-info-color);
  margin: 0px;
  padding-top: 7px;
}

.header-address-caption {
  font-size: 14px;
  line-height: 24px;
  color: var(--caption-color);
  margin: 0px;
  margin-left: 5px;
}

.user-nav {
  display: flex;
  margin-top: 41px;
}

.user-nav a {
  font-size: 21px;
  color: var(--black-regular);
}

.login,
.reg {
  background-color: var(--main-text-color);
  text-align: center;
  padding-top: 12px;
  border: 1px solid var(--pagination-border);
}

.login {
  position: relative;
  margin-right: 10px;
  width: 121px;
  height: 33px;
}

.login-link {
  display: block;
  height: 100%;
  padding-left: 20px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-image: url(../img/login_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover {
  color: var(--important-info-color);
}

.login-link:hover::before {
  background-image: url(../img/icon_login_hover.png);
}

.login-link:active {
  color: var(--caption-color);
  opacity: 0.5;
}

.login-link:active::before {
  opacity: 0.5;
}

.reg {
  width: 150px;
  height: 33px;
}

.reg-link {
  display: block;
  height: 100%;
}

.reg-link:hover {
  color: var(--important-info-color);
}

.reg-link:active {
  color: var(--caption-color);
  opacity: 0.5;
}

.login-icon {
  padding-right: 6px;
}

/* Site navigation */
.site-nav {
  background-color: var(--header-background);
  color: var(--header-nav-color);
  width: 940px;
  height: 60px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
  background-color: var(--caption-color);
  padding: 0px;
  max-width: 940px;
  height: 60px;
}

.nav-item:hover,
.nav-item--current:hover {
  background-color: var(--footer-bot);
}

.nav-item:active,
.nav-item--current:active {
  opacity: 0.3;
}

.nav-item,
.nav-item--current {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  height: 60px;
}

.nav-item .nav-link,
.nav-item--current .nav-link {
  display: block;
  height: 100%;
  width: 100%;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding-top: 32px;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
  margin-top: 59px;
}

.container h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.services-list {
  padding: 0px;
  max-width: 940px;
}

.service-link {
  background-color: var(--services-text-background);
  width: 135px;
  height: 28px;
  text-align: center;
  padding-top: 10px;
}

.service-link-text {
  font-size: 14px;
  line-height: 18px;
  color: var(--services-text);
  text-transform: uppercase;
}

.service-card {
  width: 300px;
  height: 123px;
}

.service-materials {
  background-color: var(--materials-background);
}

.materials-icon {
  margin-left: 55px;
  margin-top: -40px;
  background: transparent;
}

.materials-new {
  margin-left: 70px;
}

.service-materials-caption {
  margin-top: 22px;
  margin-bottom: 14px;
  margin-left: 23px;
  margin-right: 93px;
}

.materials-link {
  margin-bottom: 21px;
  margin-left: 23px;
  margin-right: 55px;
}

.service-tools {
  background-color: var(--tools-background);
}

.service-tools-caption {
  margin-top: 22px;
  margin-bottom: 14px;
  margin-left: 22px;
}

.tools-link {
  margin-bottom: 21px;
  margin-left: 22px;
}

.tools-icon {
  margin-top: 34px;
  margin-left: 37px;
}

.service-techs {
  background-color: var(--tech-background);
}

.service-techs-caption {
  margin-top: 22px;
  margin-bottom: 14px;
  margin-left: 22px;
}

.techs-link {
  margin-bottom: 21px;
  margin-left: 22px;
}

.techs-icon {
  margin-top: 31px;
  margin-left: 34px;
}

.service-gallery {
  background-image: url(../img/gallery_back.jpg);
  background-repeat: no-repeat;
  background-size: 620px 266px;
}

.service-products-caption {
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 5px;
  margin-left: 24px;
  margin-right: 356px;
}

.gallery-button-back,
.gallery-button-next {
  background-color: transparent;
  border: none;
}

.gallery-button-back {
  margin-top: 122px;
  margin-right: -90px;
}

.gallery-button-next {
  margin-top: 122px;
  margin-right: 10px;
}

.catalog-link {
  color: var(--main-text-color);
  display: block;
}

.catalog-text {
  font-size: 18px;
  line-height: 24px;
  color: var(--main-text-color);
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 0px;
}

.catalog-button {
  margin-left: 30px;
  margin-top: -20px;
  margin-bottom: 9px;
}

.service-discounts {
  background-color: var(--discounts-bakground);
}

.service-discounts-caption {
  margin-top: 20px;
  margin-bottom: 12px;
  margin-left: 23px;
}

.discounts-link {
  margin-bottom: 23px;
  margin-left: 23px;
}

.discounts-icon {
  margin-top: 26px;
  margin-left: 38px;
}

.service-delivery {
  background-color: var(--delivery-background);
}

.service-delivery-caption {
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 23px;
}

.delivery-link {
  margin-bottom: 22px;
  margin-left: 22px;
}

.delivery-icon {
  margin-top: 32px;
  margin-left: 34px;
}

/* Pop-products */
.pop-products {
  display: flex;
  flex-wrap: wrap;
}

.products-title {
  display: flex;
  width: 940px;
  justify-content: space-between;
}

.products-title-text {
  display: flex;
}

.pop-products-link {
  margin-top: 25px;
  margin-bottom: 15px;
}

.pop-products .products-title {
  background-color: var(--pop-title-background);
  text-transform: uppercase;
}

.pop-products {
  width: 940px;
  height: 427px;
  margin: 0 auto;
  margin-top: 59px;
}

.products-title-text {
  font-size: 30px;
  color: var(--caption-color);
}

.pop-items-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  width: 940px;
}

.pop-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-text-color);
  width: 220px;
  height: 318px;
  border: 1px solid var(--pop-item-border);
}

.pop-item-one {
  display: flex;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 6px;
  margin-bottom: 8px;
}


.pop-item-two {
  display: flex;
  margin-top: 29px;
  margin-left: 40px;
  margin-right: 53px;
  margin-bottom: 38px;
}

.second-item::before,
.fourth-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 150px;
  width: 70px;
  height: 70px;
  background-image: url(../img/catalog_new.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pop-item:hover {
  filter: drop-shadow(0px 4px 20px var(--item-shadow));
}

.pop-item:hover img {
  visibility: hidden;
  display: none;
}

.pop-item:hover .add-item-cart,
.pop-item:hover .add-item-book {
  visibility: visible;
  display: inline;
}

.add-item-cart,
.add-item-book {
  visibility: hidden;
  display: none;
  margin-top: 38px;
  margin-left: 41px;
  margin-right: 44px;
}

.add-item-book {
  margin-bottom: 54px;
}

.add-item-cart:hover {
  background-image: url(../img/cart-hover.png);
}

.add-item-cart:active {
  background-image: url(../img/cart-active.png);
}

.add-item-book:hover {
  background-image: url(../img/book-hover.png);
}

.add-item-book:active {
  background-image: url(../img/book-active.png);
}

.pop-item-three {
  margin-top: 22px;
  margin-left: 33px;
  margin-right: 43px;
  margin-bottom: 28px;
}

.pop-item-four {
  margin-top: 29px;
  margin-left: 40px;
  margin-right: 53px;
  margin-bottom: 38px;
}

.pop-item-link {
  display: flex;
  flex-wrap: wrap;
  color: var(--black-regular);
  top: 178px;
  left: 18px;
  text-align: center;
  margin-left: 18px;
}

.pop-name {
  justify-self: center;
  display: flex;
  font-family: PT Sans, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  width: 185px;
  height: 43px;
  margin: 0px;
  margin-right: 18px;
}

.pop-name-four {
  margin-bottom: 35px;
}

.buy-item,
.old-price {
  font-family: PT Sans, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  color: var(--old-price);
  text-decoration-line: line-through;
  margin-top: 7px;
  margin-bottom: 13px;
}

.buy-item {
  background-image: url(../img/buy_button.svg);
  background-color: unset;
  background-repeat: no-repeat;
  border: none;
  width: 141px;
  height: 38px;
  color: var(--main-text-color);
}

/* Pop-producers */
.pop-producers {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  height: 419px;
  margin: 0 auto;
  margin-top: 70px;
}

.pop-producers-title {
  display: flex;
  justify-content: space-between;
  background-color: var(--pop-title-background);
  text-transform: uppercase;
  width: 940px;
}

.pop-producers-link {
  margin-top: 25px;
  margin-bottom: 15px;
}

.pop-producers-title h2 {
  font-size: 30px;
  color: var(--caption-color);
}

.producers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.producer-item {
  background: var(--main-text-color);
  width: 220px;
  height: 145px;
  border: 1px solid var(--pop-item-border);
  margin-top: 20px;
}

.producer-item:hover {
  filter: drop-shadow(0px 4px 20px var(--item-shadow));
}

.producer-item:active {
  opacity: 0.3;
}

/* Features */
.features {
  background: var(--features-background);
  color: var(--black-regular);
  min-width: 1200px;
  height: 522px;
  margin: 0 auto;
  margin-top: 70px;
}

.features-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.features-title {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 64px;
  padding-left: 130px;
}

.features-text {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-left: 130px;
}

.features-list {
  padding-left: 130px;
  filter: drop-shadow(0px 4px 20px var(--item-shadow));
}

.feature-item {
  background: var(--caption-color);
  width: 226.5px;
  height: 39px;
  padding-top: 13.5px;
  padding-left: 22px;
}

.feature-delivery {
  background: var(--main-text-color);
}

.feature-item:hover,
.feature-item:hover .feature-link-delivery {
  background: var(--footer-bot);
  color: var(--main-text-color);
  opacity: 1;
}

.feature-item:active,
.feature-item:active .feature-link,
.feature-item:active .feature-link-delivery {
  background: var(--main-text-color);
  color: var(--caption-color);
  opacity: 1;
}

.feature-link {
  display: block;
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--main-text-color);
}

.feature-link-delivery {
  color: var(--caption-color);
}

.delivery {
  display: flex;
  padding-left: 80px;
  width: 619px;
  height: 283px;
}

.delivery-title {
  font-size: 30px;
  color: var(--caption-color);
  text-transform: uppercase;
}

.delivery-text {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.delivery-img {
  margin-left: -130px;
  margin-top: 50px;
}

/* About company */
.about-company {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: var(--black-regular);
  width: 940px;
  height: 356px;
  margin-bottom: 70px;
}

.about-company-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.company-title {
  font-size: 30px;
  text-transform: uppercase;
}

.about-company-text {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0px;
}

.transportation-companies-list .company-item {
  font-size: 18px;
  line-height: 24px;
  padding: 0px;
}

.modal-map {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  color: var(--black-regular);
}

.modal-close {
  display: none;
}

.map-title {
  font-size: 30px;
}

.map-text {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0px;
}

.contact-us {
  width: 300px;
  height: 38px;
  margin-top: 25px;
}

/* Footer */
.footer {
  font-size: 18px;
  line-height: 24px;
  background: var(--caption-color);
}

.footer-top-wrap {
  display: flex;
  justify-content: space-evenly;
  max-width: 940px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer-contacts {
  color: var(--contacts-footer);
}

.nav-footer-list,
.nav-features-list {
  padding: 0px;
}

.nav-footer-list {
  display: flex;
}

.nav-footer-wrap {
  display: flex;
  flex-direction: column;
}

.nav-footer,
.footer-features-list {
  display: flex;
  color: var(--caption-color);
}

.nav-footer-link {
  color: var(--features-background);
  margin-left: 58px;
}

.nav-footer-link:hover {
  text-decoration: underline;
}

.nav-footer-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-feature-link {
  color: var(--footer-features);
  margin-left: 58px;
}

.footer-feature-link:hover {
  text-decoration: underline;
}

.footer-feature-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bot-wrap {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.footer-bot {
  font-size: 16px;
  line-height: 18px;
  color: var(--main-text-color);
  background: var(--footer-bot);
}

.socials-list {
  display: flex;
}

.footer-email-link,
.academy-link {
  color: var(--footer-features);
}

/* Catalog page ================================================ */
/* Header */
.cart-added {
  background-color: var(--important-info-color);
  width: 136px;
  height: 42px;
  border: none;
}

.user-name {
  display: flex;
  justify-content: center;
  background-color: var(--main-text-color);
  width: 299px;
  height: 45px;
  margin-top: 41px;
  margin-bottom: 10px;
}

.name-link {
  position: relative;
  font-size: 21px;
  color: var(--black-regular);
  padding-top: 12px;
}

.name-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -40px;
  width: 20px;
  height: 18px;
  background-image: url(../img/user_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.name-link::after {
  position: absolute;
  content: "";
  top: 14px;
  left: 200px;
  width: 20px;
  height: 17px;
  background-image: url(../img/logout_icon.svg);
  color: var(--checkout-color);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.name-link:hover::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -40px;
  width: 20px;
  height: 18px;
  background-image: url(../img/icon_user_hover.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.name-link:hover::after {
  position: absolute;
  content: "";
  top: 14px;
  left: 200px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon_logout_hover.png);
  color: var(--checkout-color);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.name-link:active,
.name-link:active::before,
.name-link:active::after {
  opacity: 0.5;
}

.orders-link,
.account-link {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: var(--caption-color);
}

.account-link {
  margin-left: 25px;
}

.account-link::before {
  position: absolute;
  content: "";
  top: 8px;
  left: -15px;
  width: 6px;
  height: 7px;
  background-image: url(../img/dec-dot.svg);
  color: var(--checkout-color);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.orders-link {
  margin-left: 45px;
}

.account-link:hover::before {
  background-image: url(../img/dec_dot_red.png);
}

.account-link:hover,
.orders-link:hover {
  color: var(--important-info-color);
}

.account-link:active,
.orders-link:active {
  color: var(--caption-color);
  opacity: 0.5;
}

.account-link:active::before {
  background-image: url(../img/dec-dot.svg);
}


/* Catalog-container */
.catalog-container {
  background-color: var(--main-text-color);
}

.catalog-container-wrap {
  width: 940px;
  height: 1289px;
}

.breadcrumbs-list {
  display: flex;
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 0px;
}

.breadcrumbs-list a {
  color: var(--black-regular);
  padding-left: 17px;
}

.catalog-container-title {
  display: flex;
  font-size: 30px;
  background-color: var(--catalog-container-title);
  width: 911px;
  height: 89px;
  color: var(--caption-color);
  text-transform: uppercase;
  margin: 0 auto;
  padding-left: 29px;
}

.container-wrap {
  display: flex;
  justify-content: space-evenly;
}

.filter {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.filter-title {
  display: flex;
  background-color: var(--filter-background);
  width: 220px;
  height: 38px;
  color: var(--black-regular);
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 18px;
}

.filter-title p {
  padding-left: 10px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 15px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 11px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--filter-background);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 180px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: var(--filter-background);
  font-family: inherit;
  font-size: inherit;
}

.filter-producers,
.power-type {
  font-family: PT sans, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0px;
}

.filter-producers legend,
.power-type legend {
  font-weight: bold;
}

.show-results {
  display: flex;
  justify-content: center;
}

.show-results button {
  width: 220px;
  height: 38px;
  background-color: var(--main-text-color);
  border: 1px solid var(--pagination-border);
  text-transform: uppercase;
}

.item-categories {
  display: flex;
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--filter-background);
  width: 700px;
  height: 38px;
  color: var(--black-regular);
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 20px;
}

.category-title {
  padding-left: 19px;
}

.category-item-price {
  padding-left: 140px;
}

.category-item-type {
  padding-left: 70px;
}

.category-item-functions {
  padding-left: 65px;
}

.category-list {
  display: flex;
  color: var(--important-info-color);
}

.catalog-old {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  padding-top: 7px;
  width: 172px;
  height: 11px;
}

.special-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special-new {
  position: absolute;
  top: 0px;
  right: 0px;
}

.catalog-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
}

.catalog-products-list .product-item {
  font-family: PT Sans, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid var(--pop-item-border);
  width: 220px;
  height: 318px;
}

.img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item {
  position: relative;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
}

.product-name {
  color: var(--black-regular);
  width: 185px;
  height: 43px;
  text-align: center;
  margin: 0px;
  margin-top: 28px;
}

.new-name {
  margin-top: 38px;
}

.special-item-name {
  margin-top: 54px;
}

.new-product {
  position: absolute;
  right: 0px;
}

.price {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 13px;
}

.new-price {
  margin-top: 39px;
}

.add-cart {
  position: relative;
  background-image: url(../img/add_cart_back.svg);
  background-repeat: no-repeat;
  border: none;
  width: 135px;
  height: 38px;
  color: var(--main-text-color);
  text-transform: uppercase;
}

.add-cart::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 15px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart_icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.add-cart img {
  opacity: 0.3;
}

.add-bookmark {
  background-color: var(--main-text-color);
  background-image: url(../img/add-book.png);
  background-repeat: no-repeat;
  border: none;
  width: 135px;
  height: 38px;
  margin-top: 10px;
}

.pagination-list {
  display: flex;
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-left: 200px;
}

.pagination-list li:not(:first-child) {
  margin-left: 10px;
}

.pagination-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.pagination-item--current {
  background: var(--important-info-color) no-repeat;
  width: 38px;
  height: 38px;
  color: var(--main-text-color);
  border-radius: 2px;
}

.pagination-item {
  border: 1px solid var(--pagination-border);
  border-radius: 2px;
  width: 38px;
  height: 38px;
}

.next-page {
  width: 140px;
  height: 38px;
}

.pagination-link,
.pagination-link-active {
  display: block;
  width: inherit;
  height: inherit;
  text-align: center;
  padding-top: 20px;
}

.pagination-link:hover .pagination-item {
  filter: drop-shadow(0px 4px 20px var(--item-shadow));
}

.pagination-link {
  color: var(--black-regular);
}

.about-product-wrap {
  background: var(--features-background) no-repeat;
  color: var(--black-regular);
  min-width: 1200px;
  min-height: 261px;
}

.about-product-title {
  font-size: 30px;
  text-transform: uppercase;
}

.about-product {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-left: 130px;
}

.about-product-text {
  font-family: PT Sans, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0px;
}